.header {
  /* min-height: 74px; */
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-width: 1px;
  border-color: rgba(84, 84, 84, 0.7);
  padding-top: 45px;
}

.header__block {
  max-width: 880px;
  margin: auto;
}

.header__logo {
  height: 33px;
  width: 173px;
  opacity: 100%;
}

@media screen and (max-width: 780px) {
  .header__block {
    margin-left: 27px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 126px;
    height: 24px;
    padding-bottom: 32px;
  }
  .header {
    padding-top: 28px;
  }

  .header__block {
    margin-top: 0;
    margin-bottom: 0;
  }
}
