.header {
  min-height: 74px;
  margin-top: 45px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-width: 1px;
  border-color: rgba(84, 84, 84, 0.699);
}

.header__logo {
  height: 33px;
  width: 173px;
  opacity: 100%;
}

@media screen and (max-width: 780px) {
  .header {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 19px;
  }
}
