.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__avatar {
  height: 120px;
  width: 120px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "profile__name profile__button-edit"
    "profile__description profile__description";
  grid-template-columns: minmax(auto, 435px) auto;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
}

.profile__name {
  font-family: Inter, "Arial Narrow Bold", sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  grid-area: profile__name;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
}

.profile__button-edit {
  background: transparent url(../images/edit_button.svg) center no-repeat;
  grid-area: profile__button-edit;
  margin-left: 18px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 0;
  margin-right: 18px;
  min-width: 24px;
  min-height: 24px;
}

.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__name-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profile__description {
  grid-area: profile__description;
  font-family: Inter, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin-bottom: 0;
  margin-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
}

.profile__button-add {
  background: transparent url(../images/add_button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  min-width: 50px;
  border-radius: 2px;
}

.profile__button-add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .profile {
    margin-left: 20px;
    margin-right: 20px;
  }

  .profile__button-add {
    max-width: 100px;
  }

  .profile__info {
    grid-template-columns: minmax(auto, 325px) auto;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    margin-bottom: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .profile__name {
    align-items: center;
    font-size: 22px;
    line-height: 26.63px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 196px;
  }

  .profile__button-edit {
    max-width: 18px;
    max-height: 18px;
    min-width: 18px;
    min-height: 18px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 5px;
  }

  .profile__description {
    justify-content: center;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    width: 282px;
    margin-right: 30px;
  }

  .profile__button-add {
    margin-left: 0;
    width: 282px;
    margin-top: 36px;
    max-width: 282px;
    margin-bottom: 0;
  }
}
